<html>
<body>
    <%-include('nav')-%>

<center><h1>Welcome to operations page</h1></center>    <hr>
<br><br>

<div class="row">

    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form >
            ENTER first number
            <input type="text" name="num1" class="form-control">
            enter second number
            <input type="text" name="num2" class="form-control">
            <br><br>

            <input type="submit" name="submit" value="operation" class="btn btn-success">

        </form>

    </div>
    <div class="col-md-4">

        <table class="table table-striped table-bordred table-hover table-dark">

            <tr><td><%=fn%></td><td>+</td><td><%=sn%></td><td>=</td><td><%=ad%></td></tr>
            <tr><td><%=fn%></td><td>-</td><td><%=sn%></td><td>=</td><td><%=su%></td></tr>
            <tr><td><%=fn%></td><td>*</td><td><%=sn%></td><td>=</td><td><%=mu%></td></tr>
            <tr><td><%=fn%></td><td>/</td><td><%=sn%></td><td>=</td><td><%=div%></td></tr>
        </table>
    </div>
</div>

</body>
</html>